<ion-header>
  <ion-toolbar>
    <ion-title type="button" (click)="recargarPagina()">RegistrApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar Sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input [(ngModel)]="user.usuario" label-placement="floating" fill="outline" label="Usuario"
        placeholder="Ingrese su Usuario"></ion-input>
      <br>
      <ion-input [(ngModel)]="user.password" type="password" label-placement="floating" fill="outline" label="Contraseña"
        placeholder="Ingrese su Contraseña"></ion-input>
      <br>
      <div *ngIf="error">
        <ion-label>{{msj}}</ion-label>
      </div>
      <br>
      <ion-button (click)="ingresar()" shape="round" size="small" id="btnIngesar">Ingresar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>